{% set id = random(1000) %}
{% if type is not defined  %}
  {% set type = 'text' %}
{% endif %}
{% if value is not defined  %}
  {% set value = '' %}
{% endif %}
{% if errors[name] is defined  %}
  {% set error = errors[name] %}
{% endif %}
<div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
  <input type="{{type}}" id="textfield{{id}}" class="mdc-text-field__input" name="{{name}}" value="{{value}}">
  <label class="mdc-floating-label" for="textfield{{id}}">{{label}}</label>
  <div class="mdc-line-ripple"></div>
  {% if error is defined %}<span class="mdc-text-field__error">{{error}}</span>{% endif %}
</div>
