{% set id = random(1000) %}
<div class="dialog dialog{{ id }} mdl-card mdl-shadow--8dp">
    <form action="/save" method="post">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">{% block title %}{{ entry.name is defined ? 'Edit' : 'Add' }}{% endblock %}</h2>
        </div>
        <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect mdl-card--border">
            <div class="mdl-tabs__tab-bar">
                <a href="#dialog{{ id }}_main" class="mdl-tabs__tab is-active">Main</a>
                <a href="#dialog{{ id }}_share" class="mdl-tabs__tab">Share</a>
                <a href="#dialog{{ id }}_settings" class="mdl-tabs__tab">Settings</a>
            </div>
            <div class="mdl-tabs__panel is-active" id="dialog{{ id }}_main">
                <div class="mdl-card__supporting-text">
                    {% block content %}
                        {% include 'PasswordSafeBundle:_elements:labelInput.html.twig' with {'name': 'name', 'label': 'Name', 'value': entry.name is defined ? entry.name : ''} %}
                    {% endblock %}
                </div>
            </div>
            <div class="mdl-tabs__panel" id="dialog{{ id }}_share">
                <div class="mdl-card__supporting-text">
                    <ul class="share">
                        {% for user in users %}
                            <li>
                                <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect"
                                       for="share{{ id }}{{ user.username }}">
                                    <input type="checkbox" id="share{{ id }}{{ user.username }}"
                                           class="mdl-switch__input" name="share[]" value="{{ user.username }}" {{ attribute(entry.attributes.shares, user.username) is defined ? 'checked' : '' }}>
                                    <span class="mdl-switch__label">{{ user.username }}</span>
                                </label>
                            </li>
                        {% endfor %}
                    </ul>
                    <span class="hint">If you select many users, saving will take some time.</span>
                </div>
            </div>
            <div class="mdl-tabs__panel" id="dialog{{ id }}_settings">
                <div class="mdl-card__supporting-text">
                    <div class="js_selectInput">
                        <label for="input_category_input">Category</label>

                        <select name="category">
                            <option value="">Main category</option>
                            {% for categoryItem in categories %}
                                {% if entry.attributes.category is defined and entry.attributes.category == categoryItem or category == categoryItem %}
                                    <option selected>{{ categoryItem }}</option>
                                {% else %}
                                    <option>{{ categoryItem }}</option>
                                {% endif %}
                            {% endfor %}
                            <option value="newCategory">New category</option>
                        </select>
                        <input class="mdl-textfield__input" type="text" name="category_input" id="input_category_input"
                               value=""/>
                        <span class="js_inputSelect_cancel">Cancel</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdl-card__actions mdl-card--border{{ entry.id is defined ? ' additionalButton' : '' }}">
            {% if entry.id is defined %}
                <a href="/delete?id={{ entry.id }}&csrf_token={{ csrf_token }}"
                   class="mdl-button mdl-js-button">Delete</a>
                <input type="hidden" name="id" value="{{ entry.id }}"/>
            {% endif %}
            <div>

                <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
                <input type="reset" data-remove=".dialog{{ id }}"
                       class="js_close mdl-button mdl-js-button mdl-button--primary" value="Cancel"/>
                <input type="submit"
                       class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
                       value="{{ entry.id is defined ? 'Save' : 'Add' }}"/>
    </form>
</div>
