{% extends 'PasswordSafeBundle:_tpl:standardSkeleton.html.twig' %}
{% set hideMenu = true %}
{% set title = 'Settings' %}

{% block content %}
<div class="mdl-container settings">
  <div class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Password</h2>
    </div>
    <div class="mdl-card__supporting-text">
      You can change your main authentication secret here and also adjusts the key iterations for generating the hash for your data.
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{path('settingsPassword')}}">Change your password</a>
    </div>
  </div>
  <div class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Multi-factor authentication</h2>
    </div>
    <div class="mdl-card__supporting-text">
      Regenerate your two-factor authentication code. Get your token generator ready for action. You can't cancel this.
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{path('settingsMFA')}}">Regenerate token</a>
    </div>
  </div>
  <div class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Public and private keys</h2>
    </div>
    <div class="mdl-card__supporting-text">
      For sharing of passwords a private and a public key is generated for you.<br />
      Warning: Be careful when you shared many passwords. Maybe you have to change your script time limit etc.
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{path('settingsRegenerateKeys')}}">Regenerate keys</a>
    </div>
  </div>
  <div class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Personalization</h2>
    </div>
    <div class="mdl-card__supporting-text">
      Set your start category after login
      <br /><br /><br />
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{path('settingsPersonalization')}}">Personalize your safe</a>
    </div>
  </div>
  <div class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Export</h2>
    </div>
    <div class="mdl-card__supporting-text">
      Backup your own data encrypted. You download an executable php file where you have to enter the password to see your data.<br />
      Note: You need to have php with mcrypt installed.
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{path('export')}}?csrf_token={{ csrf_token }}">Export your passwordSafe</a>
    </div>
  </div>
</div>
{% endblock %}
